{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load wagtail_demo_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div id="intro">
        <div class="row text-center">
            <div class="medium-10 medium-centered columns">
                <h3><strong>{{ self.title_text|richtext }}</strong></h3>
                {{ self.body|richtext }}
                <div id="carousel">
                    {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
                </div>
            </div>
        </div>
    </div>

	<div id="section">
	    <div id="icons" class="row text-center">
	        <h3><strong>Featuring</strong></h3>
	        <br>
    	    <div class="medium-up-3 small-up-1" data>
    	        {% for block in self.content_items.all %}
    	        <div class="column icon grow">
    	            <a href="{{ block.link }}" target="_blank">
    	                <div class="callout">
    	                 {% if block.image %}
    	                    {% image block.image fill-70x70 %}
    	                 {% endif %}
    	                 <h5><strong>{{ block.title}}</strong></h5>
    	                 {{ block.content|richtext }}
    	                </div>
    	            </a>
    	        </div>
    	       {% endfor %}
    	    </div>
	    </div>
	</div>

{% endblock %}