{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags %}
{% load wagtailimages_tags %}
{% load wagtail_demo_utils %}

{% block content %}
    <div id="content" class="row">
        <div class="medium-10 medium-centered columns">
            <h2>{{ self.title }}</h2>
            <h3 class="subheader">{{ self.subtitle }}</h3>
            <hr>
            {% include "pages/includes/intro.html" with intro=self.intro only %}
        
            {% include "pages/includes/standard_carousel.html" with image_items=self.image_items.all only %}
            
            {% include "pages/includes/body.html" with body=self.body only %}
        </div>
    </div>
{% endblock %}